<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/home/navbar.css">
  <link rel="icon" type="image/ico" href="/images/favicon.ico"/>
  {{#if isHome}}
    <link rel="stylesheet" href="/home/style.css">
    <link rel="stylesheet" href="/home/modal.css">
  {{/if}}
  {{#if isTic}}
    <link rel="stylesheet" href="/tictac/style.css">
  {{/if}}
  {{#if isExcel}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/excel/bundle.891d666e29a2306cd32d.css" rel="stylesheet">
  {{/if}}
  {{#if isAdmin}}
    <link rel="stylesheet" href="/admin/index.css">
  {{/if}}
  <title>{{title}}</title>
</head>