<div class="navigate" id="home">
    <nav {{#if isHome}}{{else}}style="justify-content: center;"{{/if}}>
        {{#if isHome}}
            <ul class="menu">
                <li><a href="#home" data-language="home">Home</a></li>
                <li><a href="#skills" data-language="skills">Skills</a></li>
                <li><a href="#work" data-language="work">Work</a></li>
                <li><a href="#contact" data-language="contact">Contact</a></li>
            </ul>
            <div class="language" data-language="language">En</div>
        {{else}}
            <ul class="menu">
                <li><a href="/#home">Home</a></li>
                <li><a href="/#skills">Skills</a></li>
                <li><a href="/#work">Work</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        {{/if}}
    </nav>
</div>