<div class="toggle hidden">
  <svg class="burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
    <defs>
      <style>.cls-1 {
        fill: #fff;
      }</style>
    </defs>
    <g>
      <rect width="50" height="50" rx="4"/>
    </g>
    <g>
      <rect class="cls-1" x="7.5" y="13" width="35" height="4" rx="1"/>
      <rect class="cls-1" x="7.5" y="23" width="35" height="4" rx="1"/>
      <rect class="cls-1" x="7.5" y="33" width="35" height="4" rx="1"/>
    </g>
  </svg>
  <svg class="cross hide" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px"
       viewBox="0 0 492 492">
    <g>
      <g>
        <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
      </g>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</div>

<section class="banner">

  <div class="imgSidebar">
    <img src="./images/main.jpg" alt="img">
  </div>
  <div class="contentBx">
    <h5 class="logoText" data-language="portfolio">My_Portfolio</h5>
    <div>
      <h4 data-language="hello"><span>Hello</span> I'm</h4>
      <h2 data-language="name">Artem Markov</h2>
      <h4 data-language="devF">I'm a Junior Frontend Web Developer.</h4>

      <a href="#about" class="btn" data-language="aboutMe">About Me</a>
    </div>
    <ul class="sci">
      <li><a href="https://www.instagram.com/letostk" target="_blank">
        <svg viewBox="0 0 511 511.9" xmlns="http://www.w3.org/2000/svg">
          <path d="m510.949219 150.5c-1.199219-27.199219-5.597657-45.898438-11.898438-62.101562-6.5-17.199219-16.5-32.597657-29.601562-45.398438-12.800781-13-28.300781-23.101562-45.300781-29.5-16.296876-6.300781-34.898438-10.699219-62.097657-11.898438-27.402343-1.300781-36.101562-1.601562-105.601562-1.601562s-78.199219.300781-105.5 1.5c-27.199219 1.199219-45.898438 5.601562-62.097657 11.898438-17.203124 6.5-32.601562 16.5-45.402343 29.601562-13 12.800781-23.097657 28.300781-29.5 45.300781-6.300781 16.300781-10.699219 34.898438-11.898438 62.097657-1.300781 27.402343-1.601562 36.101562-1.601562 105.601562s.300781 78.199219 1.5 105.5c1.199219 27.199219 5.601562 45.898438 11.902343 62.101562 6.5 17.199219 16.597657 32.597657 29.597657 45.398438 12.800781 13 28.300781 23.101562 45.300781 29.5 16.300781 6.300781 34.898438 10.699219 62.101562 11.898438 27.296876 1.203124 36 1.5 105.5 1.5s78.199219-.296876 105.5-1.5c27.199219-1.199219 45.898438-5.597657 62.097657-11.898438 34.402343-13.300781 61.601562-40.5 74.902343-74.898438 6.296876-16.300781 10.699219-34.902343 11.898438-62.101562 1.199219-27.300781 1.5-36 1.5-105.5s-.101562-78.199219-1.300781-105.5zm-46.097657 209c-1.101562 25-5.300781 38.5-8.800781 47.5-8.601562 22.300781-26.300781 40-48.601562 48.601562-9 3.5-22.597657 7.699219-47.5 8.796876-27 1.203124-35.097657 1.5-103.398438 1.5s-76.5-.296876-103.402343-1.5c-25-1.097657-38.5-5.296876-47.5-8.796876-11.097657-4.101562-21.199219-10.601562-29.398438-19.101562-8.5-8.300781-15-18.300781-19.101562-29.398438-3.5-9-7.699219-22.601562-8.796876-47.5-1.203124-27-1.5-35.101562-1.5-103.402343s.296876-76.5 1.5-103.398438c1.097657-25 5.296876-38.5 8.796876-47.5 4.101562-11.101562 10.601562-21.199219 19.203124-29.402343 8.296876-8.5 18.296876-15 29.398438-19.097657 9-3.5 22.601562-7.699219 47.5-8.800781 27-1.199219 35.101562-1.5 103.398438-1.5 68.402343 0 76.5.300781 103.402343 1.5 25 1.101562 38.5 5.300781 47.5 8.800781 11.097657 4.097657 21.199219 10.597657 29.398438 19.097657 8.5 8.300781 15 18.300781 19.101562 29.402343 3.5 9 7.699219 22.597657 8.800781 47.5 1.199219 27 1.5 35.097657 1.5 103.398438s-.300781 76.300781-1.5 103.300781zm0 0"/>
          <path d="m256.449219 124.5c-72.597657 0-131.5 58.898438-131.5 131.5s58.902343 131.5 131.5 131.5c72.601562 0 131.5-58.898438 131.5-131.5s-58.898438-131.5-131.5-131.5zm0 216.800781c-47.097657 0-85.300781-38.199219-85.300781-85.300781s38.203124-85.300781 85.300781-85.300781c47.101562 0 85.300781 38.199219 85.300781 85.300781s-38.199219 85.300781-85.300781 85.300781zm0 0"/>
          <path d="m423.851562 119.300781c0 16.953125-13.746093 30.699219-30.703124 30.699219-16.953126 0-30.699219-13.746094-30.699219-30.699219 0-16.957031 13.746093-30.699219 30.699219-30.699219 16.957031 0 30.703124 13.742188 30.703124 30.699219zm0 0"/>
        </svg>
      </a></li>
      <li><a href="https://vk.com/id96125787" target="_blank">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z"/>
        </svg>
      </a></li>
      <li><a href="https://github.com/markov-git" target="_blank">
        <svg viewBox="0 0 16 16">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
      </a></li>
    </ul>
  </div>
</section>

<section class="about" id="about">
  <div class="title white">
    <h2 data-language="aboutMe">About Me</h2>
  </div>
  <div class="content">
    <div class="textBx" data-language="aboutMeText">
      <p>Hello!<br><br>My name is Artem, I am 25 years old and now looking for a job as a Junior Frontend
        Web Developer.</p>
      <p>By my main specialty I am a designer / builder of unique buildings and structures (such as high-category
        roads, airfields, bridges, tunnels).</p>
      <p>In addition, in my free time, I went to English courses. Now I have a translator's diploma.</p>
      <p>At the beginning of 2020, I realized that I wanted to program and started learning C++, but after a few
        months I realized that it was not mine. I decided to study web development.</p>
      <p>I have been studying web development for more than half a year and now I can say with confidence - I like
        it!</p>
    </div>
    <div class="imgBx">
      <img src="./images/bg1.jpg" alt="img">
    </div>
  </div>
</section>

<section class="skills" id="skills">
  <div class="title">
    <h2 data-language="mySkills">My Skills</h2>
    <p data-language="skillsDesc">To summarize a little, this is what I know</p>
  </div>
  <div class="content">

    <div class="servicesBx">
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="45" fill="#00bcd4"/>
        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
              stroke-dasharray="62.8,188.4"
              d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80">
        </path>
        <text x="50" y="50" text-anchor="middle" dy="7" font-size="20">Fw</text>
      </svg>
      <h2>JavaScript Frameworks</h2>
      <li>Vue.js</li>
      <li>ReactJS</li>
      <li>Express.js</li>
    </div>

    <div class="servicesBx">
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="45" fill="#00bcd4"/>
        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
              stroke-dasharray="150.7,100.5"
              d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80">
        </path>
        <text x="50" y="50" text-anchor="middle" dy="7" font-size="13">HTML/CSS</text>
      </svg>
      <h2>HTML/CSS</h2>
      <li>SASS</li>
      <li>БЭМ</li>
    </div>

    <div class="servicesBx">
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="45" fill="#00bcd4"/>
        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
              stroke-dasharray="175.8,75.4"
              d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80">
        </path>
        <text x="50" y="50" text-anchor="middle" dy="7" font-size="20">JS</text>
      </svg>
      <h2>JavaScript</h2>
      <li>TypeScript</li>
      <li>ES6 - ES11</li>
      <li>Webpack</li>
      <li>Gulp, Parcel, etc.</li>
    </div>

    <div class="servicesBx">
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="45" fill="#00bcd4"/>
        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
              stroke-dasharray="125.6,125.6"
              d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80">
        </path>
        <text x="50" y="50" text-anchor="middle" dy="7" font-size="15">NodeJS</text>
      </svg>
      <h2>NodeJS</h2>
      <li>`Handlebars` template engine</li>
      <li>Experience with framework `Express`</li>
      <li>The server of this hosting was written by me on `Express` :)</li>
    </div>

    <div class="servicesBx">
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="45" fill="#00bcd4"/>
        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
              stroke-dasharray="100.48,150.72"
              d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80">
        </path>
        <text x="50" y="50" text-anchor="middle" dy="7" font-size="15">DB</text>
      </svg>
      <h2>Data Bases</h2>
      <li>MySQL</li>
      <li>MongoDB</li>
      <li>NeDB</li>
    </div>

    <div class="servicesBx">
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="45" fill="#00bcd4"/>
        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
              stroke-dasharray="75.4,175.8"
              d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80">
        </path>
        <text x="50" y="50" text-anchor="middle" dy="7" font-size="20">C++</text>
      </svg>
      <h2>C++</h2>
      <li>Knowledge of basics and syntax</li>
      <li>Experience with cross-platform IDE `QT`</li>
    </div>

    <div class="servicesBx">
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="45" fill="#00bcd4"/>
        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
              stroke-dasharray="150.7,100.5"
              d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80">
        </path>
        <text x="50" y="50" text-anchor="middle" dy="7" font-size="13">Graphics</text>
      </svg>
      <h2>Graphics</h2>
      <li>Photoshop</li>
      <li>Illustrator</li>
      <li>Blender</li>
    </div>

    <div class="servicesBx">
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="45" fill="#00bcd4"/>
        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
              stroke-dasharray="150.7,100.5"
              d="M50 10
           a 40 40 0 0 1 0 80
           a 40 40 0 0 1 0 -80">
        </path>
        <text x="50" y="50" text-anchor="middle" dy="7" font-size="13">Eng</text>
      </svg>
      <h2>English language</h2>
      <p>CEFR: B2. Upper intermediate</p>
    </div>
  </div>
</section>

<section class="work" id="work">
  <div class="title">
    <h2 data-language="myWorks">Recent Works</h2><br>
  </div>
  <div class="content">
    <!--Maze Creeper-->
    <div class="workBx">
      <div class="imgBx">
        <img src="./images/w/maze.png" alt="img">
      </div>
      <div class="textBx">
        <a href="/maze">
          <h3>Maze Creeper</h3><br>
          <p data-language="mazeDesc">in Development</p>
        </a>
        <a target="_blank" class="git" href="https://github.com/markov-git/maze-creeper">
          GitHub
        </a>
      </div>
    </div>
    <!--Logitech-->
    <div class="workBx">
      <div class="imgBx">
        <img src="./images/w/logitech.png" alt="img">
      </div>
      <div class="textBx">
        <a href="/geekbrains-logitech" target="_blank">
          <h3>Logitech challenge</h3><br>
          <p>Adaptive web page</p>
        </a>
        <a target="_blank" class="git" href="https://github.com/markov-git/logitech">
          GitHub
        </a>
      </div>
    </div>
    <!--Tic Tac-->
    <div class="workBx">
      <div class="imgBx">
        <img src="./images/w/tictac.png" alt="img">
      </div>
      <div class="textBx">
        <a href="/tictac" target="_blank">
          <h3 data-language="tictac">Tic Tac Toe</h3><br>
          <p data-language="tictacDesc">Minimax algorithm<br>Mongodb</p>
        </a>
        <a target="_blank" class="git" href="https://github.com/markov-git/tictac-minimax">
          GitHub
        </a>
      </div>
    </div>
    <!--Web Excel-->
    <div class="workBx">
      <div class="imgBx">
        <img src="./images/w/excel.png" alt="img">
      </div>
      <div class="textBx">
        <a href="/excel">
          <h3 data-language="excel">Web Excel</h3><br>
          <p data-language="excelDesc">Native JavaScript</p>
        </a>
        <a target="_blank" class="git" href="https://github.com/markov-git/excel">
          GitHub
        </a>
      </div>
    </div>
    <!--Server-->
    <div class="workBx">
      <div class="imgBx">
        <img src="./images/w/server.png" alt="img">
      </div>
      <div class="textBx">
        <a href="#home">
          <h3>This site&server</h3><br>
          <p data-language="mazeDesc">My site-portfolio<br> and express server</p>
        </a>
        <a target="_blank" class="git" href="https://github.com/markov-git/hostland-server">
          GitHub
        </a>
      </div>
    </div>
  </div>
</section>

<section class="contact" id="contact">
  <div class="title white">
    <h2 data-language="contactMe">Contact Me</h2>
  </div>
  <div class="contactForm">
    <div class="_sending">
      <div class="loader"></div>
      <div class="ok">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 229.153 229.153">
          <g>
            <path d="M92.356,223.549c7.41,7.5,23.914,5.014,25.691-6.779c11.056-73.217,66.378-134.985,108.243-193.189C237.898,7.452,211.207-7.87,199.75,8.067C161.493,61.249,113.274,117.21,94.41,181.744c-21.557-22.031-43.201-43.853-67.379-63.212c-15.312-12.265-37.215,9.343-21.738,21.737C36.794,165.501,64.017,194.924,92.356,223.549z"/>
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
      </div>
      <div class="wrong">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492">
          <g>
            <g>
              <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
            </g>
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
        <p id="errorMessage"></p>
      </div>
    </div>

    <form id="form" action="#">
      <div class="row">
        <div class="col50" data-language="inpFN">
          <input type="text" name="firstName" placeholder="Name">
        </div>
        <div class="col50" data-language="inpC">
          <input type="text" name="company" placeholder="Company*" class="_req">
        </div>
      </div>
      <div class="row">
        <div class="col50">
          <input type="text" name="email" placeholder="Email*" class="_req _email">
        </div>
        <div class="col50" data-language="phone">
          <input type="text" name="phone" placeholder="Mobile No.">
        </div>
      </div>
      <div class="row">
        <div class="col100" data-language="message">
          <textarea placeholder="Message" name="message"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col100" data-language="btnMessage">
          <input type="submit" value="Send">
        </div>
      </div>
    </form>
  </div>
</section>

<div class="sidebar">
  <ul class="menu">
    <li><a href="#home" id="toggleLink" data-language="home">Home</a></li>
    <li><a href="#about" id="toggleLink" data-language="about">About</a></li>
    <li><a href="#skills" id="toggleLink" data-language="skills">Skills</a></li>
    <li><a href="#work" id="toggleLink" data-language="work">Work</a></li>
    <li><a href="#contact" id="toggleLink" data-language="contact">Contact</a></li>
    <li><a href="#" id="login">Admin login</a></li>
  </ul>
</div>

<div class="modal">
  <div class="modal__backBlur"></div>
  <div class="modal__card">
    <div class="title white">
      <h2 data-language="contactMe">Log In</h2>
    </div>
    <div class="modal__auth-form">
      <form action="/auth" method="post">
        <input type="password" id="password" name="password" placeholder="Password">
        <p></p>
        <button class="btn" type="submit" disabled>Log In</button>
      </form>
    </div>
  </div>

</div>

<script src="/home/index.js"></script>
<script src="/home/translate.js"></script>
<script src="/home/validation.js"></script>
<script src="/home/auth.js"></script>

