<div class="game">
  <div class="container">
    <h1 class="title" data-language="title">Tic <span>Tac</span> Toe</h1>
    <div class="lang">
      <div class="eng">eng</div>
      <div class="rus">rus</div>
    </div>
    <div class="selection">
      <h1 class="title" data-language="chose">Chose your player!</h1>
      <div class="figures">
        <div class="figure flagO" id="zero"></div>
        <div class="figure flagX" id="cross"></div>
      </div>
    </div>
    <div class="handler">
      <div class="handler__status"></div>
      <div class="handler__reset" data-language="reset">Reset</div>
    </div>
    <div class="gameGrid">
      <div class="gameGrid__cell"></div>
      <div class="gameGrid__cell"></div>
      <div class="gameGrid__cell"></div>
      <div class="gameGrid__cell"></div>
      <div class="gameGrid__cell"></div>
      <div class="gameGrid__cell"></div>
      <div class="gameGrid__cell"></div>
      <div class="gameGrid__cell"></div>
      <div class="gameGrid__cell"></div>
    </div>
    <div class="analytics"></div>
  </div>
  <table class="statistic">
    <tr class="statistic__first">
      <td data-language="totalStatistic">Total played</td>
      <td id="statistic__total">
        <div class="loader"></div>
      </td>
    </tr>
    <tr class="statistic__second">
      <td data-language="winsStatistic">Computer wins</td>
      <td id="statistic__wins"></td>
    </tr>
    <tr class="statistic__third">
      <td data-language="tiesStatistic">Ties</td>
      <td id="statistic__ties"></td>
    </tr>
  </table>
</div>
<!--<div class="download"><a href="https://github.com/markov-git/tictac-minimax" target="_blank">GitHub repository</a></div>-->
<!--<div class="copyright">-->
<!--  made by Артём Марков <<a href="mailto:markovartyom795@gmail.com">markovartyom795@gmail.com</a>>-->
<!--</div>-->
<script src="/tictac/app.js"></script>