.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-size: 30px;
    border-radius: 15%;
    cursor: pointer;
    z-index: 1000;
}

.cross {
    fill: white;
}

.hide {
    display: none;
}

.toggle.invert:not(.active) {
    filter: invert(1);
}

.hidden {
    display: none;
}

.toggle.active {
    background-size: 30px;
    cursor: pointer;
}


section:first-of-type {
    min-height: calc(100vh - 45px);
}

section {
    padding: 100px;
    min-height: 100vh;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}

.banner .imgSidebar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .contentBx,
.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.logoText {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 0 5px;
}

.banner .contentBx h4 {
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}

.banner .contentBx h4 span {
    color: #00bcd4;
    font-size: 1.5em;
    font-weight: 700;
}

.banner .contentBx h2 {
    font-size: 3em;
    color: #333;
    line-height: 1em;
}

p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}

.btn {
    background: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 50px;
    transition: background-color .3s;
}

.btn:hover {
    background: #007e8f;
}

.sidebar {
    position: fixed;
    background: #000;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar ul li a:hover {
    color: #00bcd4;
    background-color: black;
}

.sci {
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    margin-right: 15px;
    list-style: none;
}

.sci li svg {
    height: 45px;
}

.sci li svg:hover {
    fill: #00bcd4;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    color: #00bcd4;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.title p {
    max-width: 700px;
    display: inline-block;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 90px;
    height: 4px;
    background: #000;
}

.title.white h2,
.title.white p {
    color: #fff;
}

.title.white h2::before {
    background: #fff;
}

.about {
    background: #000;
}

.about .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .content .textBx {
    min-width: 49%;
    width: 49%;
}

.about .content .textBx p {
    color: #fff;
}

.about .content .imgBx {
    margin-left: 40px;
}

.about .content .imgBx img {
    max-width: 100%;
    max-height: 700px;
}

.skills .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills .content .servicesBx {
    padding: 40px 20px;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    background: #f5f5f5;
}

.skills .content .servicesBx * {
    transition: .5s;
}

.skills .content .servicesBx:hover {
    background: #000;
}

.skills .content .servicesBx svg {
    width: 40%;
}

.skills .content .servicesBx:hover circle {
    fill: #c8f6fd;
}

.skills .content .servicesBx:hover path {
    stroke: #00bcd4;
}

.skills .content .servicesBx h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: .5s;
}

.skills .content .servicesBx:hover h2 {
    color: #fff;
}

.skills .content .servicesBx li {
    margin: 0;
    transition: .5s;
}

.skills .content .servicesBx:hover li,
.skills .content .servicesBx:hover p {
    color: #fff;
}

.work .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.work .content .workBx {
    position: relative;
    width: 265px;
    height: 265px;
    margin: 10px;
    transition: .5s;
    text-align: center;
    border-radius: 5px;
}

.work .content .workBx:before {
    content: '';
    position: absolute;
    bottom: -10px;
    top: -12px;
    right: -3px;
    width: 3px;
    height: 50%;
    background: #00bcd4;
}

.work .content .workBx:after {
    content: '';
    position: absolute;
    bottom: -10px;
    top: -3px;
    right: -12px;
    width: 50%;
    height: 3px;
    background: #00bcd4;
}

.work .content .workBx .imgBx,
.work .content .workBx .textBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.work .content .workBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

.work .content .workBx .textBx {
    background: #000;
    opacity: 0;
    transition: .5s;
    position: relative;
}

.work .content .workBx:hover .textBx {
    opacity: 1;
}

.work .content .workBx .textBx a {
    display: inline-block;
    padding: 5px 0;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1em;
}

.work .content .workBx .textBx .git {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: orange;
    font-size: 1.2em;
}

.work .content .workBx .textBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

.work .content .workBx .textBx p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 1em;
}

.contact {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .contactForm {
    position: relative;
    width: 700px;
    margin-top: 20px;
}

.contact .contactForm ._sending {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 5px;
    opacity: .9;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.contact .contactForm .loader {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.contact .contactForm .loader:after {
    content: " ";
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 24px solid;
    border-color: #00bcd4 transparent #00bcd4 transparent;
    animation: loader 1.2s linear infinite;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #111 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #7ac6cf !important;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.contact .contactForm .loader .ok {
    visibility: hidden;
    display: inline-block;
}

.contact .contactForm .ok svg {
    width: 150px;
    height: 150px;
    fill: #00bcd4;
    display: none;
}

.contact .contactForm .loader .wrong {
    visibility: hidden;
}

.contact .contactForm .wrong svg {
    width: 150px;
    height: 150px;
    fill: darkred;
    display: none;
    margin: 0 auto;
}

.contact .contactForm .wrong p {
    color: white;
    text-align: center;
}

.contact .contactForm .row {
    width: 100%;
    display: flex;
}

.contact .contactForm .row .col50 {
    width: 50%;
    margin: 10px;
}

.contact .contactForm .row .col100 {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.contact .contactForm .row input,
.contact .contactForm .row textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 16px;
    resize: none;
    transition: .5s;
}

.contact .contactForm .row input:focus,
.contact .contactForm .row textarea:focus {
    box-shadow: 0 0 15px #00bcd4;
}

.contact .contactForm .row input._error {
    box-shadow: 0 0 15px red !important;
}

.contact .contactForm .row textarea {
    height: 100px;
}

.contact .contactForm .row input[type="submit"] {
    background: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    max-width: 150px;
}

.contact .contactForm .row input[type="submit"]:hover {
    background: #007e8f;
}

@media (max-width: 991px) {
    .banner .imgSidebar {
        display: none;
    }

    .banner .contentBx, .sidebar {
        width: 100%;
        padding: 40px;
    }

    .logoText {
        left: 40px;
    }

    .toggle {
        right: 40px;
    }

    .sci {
        left: 40px;
    }

    section {
        padding: 40px;
    }

    .about .content {
        flex-direction: column;
        margin-top: 0;
    }

    .about .content .textBx {
        min-width: 100%;
        width: 100%;
    }

    .about .content .imgBx {
        margin-left: 0;
    }

    .services .content .servicesBx {
        padding: 30px 20px;
        max-width: 340px;
        margin: 10px;
    }

    .contact .contactForm {
        width: 100%;
    }

    .contactForm .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .contact .contactForm .row .col50 {
        width: 100%;
        margin: 10px;
    }
}

@media (max-width: 680px) {
    section:first-of-type {
        min-height: 100vh;
    }
}

@media (max-width: 500px) {
    .services .content .servicesBx,
    .work .content .workBx {
        max-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
}

